<form asp-action="Create">
    <label>Customer ID: </label>
    <input type="text" name="CustomerID">
    <br>
    <label>Customer Name: </label>
    <input type="text" name="CustomerName">
    <br>
     <label>Customer Age: </label>
    <input type="number" name="CustomerAge">
    <br>
     <label>Customer Address: </label>
    <input type="text" name="CustomerAddress">
    <br>
    <input type="submit" value="Create">
</form>